:root {
  --background-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: #f1b2ce;
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --border-color: #ff0070;
  --decor-color: #ff0070;
  --title-shadow: 4px 4px 0 #ff0070;
  --link-shadow: 2px 2px 0 #ff0070;
}
