:root {
  --background-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  
  --bg-image: url("../images/cover-image-dark.png");

  --button-hover: rgba(255, 0, 112, 0.4);
  --border-color: #ff0070;
}
